<div class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <h3><%= systemConfig.prefixAdmin %></h3>
        <ul class="nav" id="side-menu">

            <li>
                <a href="<%=systemConfig.prefixAdmin %>/dashboard">
                    <i class="fa fa-dashboard fa-fw"></i> Dashboard
                </a>
            </li>


            <li>
                <a href="<%= systemConfig.prefixAdmin %>/items/list">
                    <i class="fa fa-dashboard fa-fw"></i> CRUD
                </a>
            </li>

           
        </ul>
        <!-- /#side-menu -->
    </div>
    <!-- /.sidebar-collapse -->
</div>