
<!DOCTYPE html>
<html>
  <%include ./elements/headerLinks%>
<body>
    <div id="wrapper">
      <%include ./elements/header%>
      <%-body%>
    </div>
   <%include ./elements/script%>
</body>
</html>